*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
# /public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/framework/vite-cache/
/storage/*.key
/storage/logs/*.log
/storage/framework/views/*
/storage/framework/views-compiled/*
/storage/pail
/vendor
docs/sevenrock_whitelist_extracted.sql
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

# Backup files
*.bak

# Old system files
prog_srr/
prog_srr.zip
.private/

# Cache data files
storage/framework/cache/data/
*.backup_*
composer.phar
